h1 {
  text-align: center;
  color: #3f51b5;
  font-weight: bold;
}

.row {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.row > mat-form-field {
  width: 100%;
}

.dialog-container-action {
  padding: 15px 25px;
}

.dialog-container-action button {
  flex: 1;
}
